@font-face{

    font-family: 'QuickSans';
    
    src: url('../../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    }
    
    .quickSans{
    
    font-family: 'QuickSans';
    
    }