<ion-header>
  <ion-toolbar color='secondary'>
    <ion-title class="ibm" style="font-size: 13px;">Protocole d'accord</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='dismissModal()'>
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="quickSans" style="font-size: 15px;">
    <p style="font-weight: bold;">
      ENTRE LES SOUSSIGNES :
    </p>
    <p>
      <strong>CHRONICKL SARL</strong>, Société à responsabilité limitée, au capital de 1 Million de francs CFA, 
      dont le siège est situé à Libreville, BP : 2839 et immatriculé au RCCM 
      sous le numéro GA-LBV-01-2020-B12-00411 et enregistré sous le NIF 66570R représentée par 
      Monsieur <strong>Fidèle NDZIME NKOGHET, son Administrateur Général,</strong> dument habilité à l’effet des présentes, 
    </p>
    <p>
      Ci-après dénommée « CHRONICKL SARL», D’UNE PART,
    </p>
    <p style="font-weight: bold;">
      ET
    </p>
    <p>
      Madame/Mademoiselle/Monsieur ... <span style="font-weight: bold;">{{user.name}}</span>
    </p>
    <p>
      Ci-après désigné le « CHRONIQUEUR » D’AUTRE PART,
    </p>
    <p>
      Ensemble ci-après désignés individuellement ou collectivement <strong>« La ou les Parties »</strong>
    </p>
    <p style="font-weight: bold;">
      Exposé :
    </p>
    <p>
      Chronickl est une société à responsabilité limitée de droit gabonais ayant pour 
      objet social en République Gabonaise et dans tout Etat-partie au traité OHADA : 
    </p>
    <p style="font-weight: bold;">
      - Développement de solutions numériques ; <br/>
      - Marketing Digital ; <br/>
      -	Intermédiation d’affaires dans le numérique ; 
    </p>
    <p>
      Dans le cadre de ses activités, <strong>Chronickl</strong> a conçu la plateforme Chronickl, un support qui permet à tout 
      passionné de la lecture 
      et de l’écriture de vivre de sa passion, ceci dans le strict respect de la propriété intellectuelle. 
    </p>
    <p>
      Aussi, après avoir étudié la faisabilité technique et opérationnelle de cette opération, les Parties se sont 
      rapprochées afin de convenir d’un accord sur les bases suivantes :
    </p>
    <p style="font-weight: bold;">
      Convention :
    </p>
    <p style="font-weight: bold;">
      Article 1 : Dispositions générales 
    </p>
    <p>
      CHRONICKL est un site dédié à la publication et à la lecture des œuvres littéraires sans distinctions 
      aucunes. Elle offre la possibilité à tous de devenir auteur et de convaincre les lecteurs par la qualité 
      de son talent. Les lectures sont payantes ou non, toutefois chaque auteur devra 
      mettre au moins les deux premiers chapitres gratuits de l’œuvre qu’il décide de mettre en vente.
    </p>
    <p style="font-weight: bold;">
      Article 2 : Objet
    </p>
    <p>
      Le présent protocole a pour objet de définir les droits et obligations des parties dans le cadre 
      de la mise en ligne des œuvres sur Chronickl.
    </p>
    <p style="font-weight: bold;">
      Article 3 : Description de la prestation
    </p>
    <p>
      Chronickl SARL met à la disposition du Chroniqueur une plateforme dénommée « Chronickl » sur laquelle 
      il pourra publier 
      ses œuvres littéraires sans distinctions aucunes en toute gratuité et en toute sécurité. 
    </p>
    <p>
      •	Les œuvres sont publiées par chapitre. <br/>

      •	Les œuvres sont payantes ou non. Pour les histoires payantes, il est demandé au Chroniqueur de 
      laisser au moins les deux premiers chapitres libres pour donner un aperçu de sa plume au « chroniliseur ».
      <br/>
      •	Les prix de chaque œuvre ne sont pas standards, ils varient en fonction de l’auteur, ceci en accord 
      avec CHRONICKL qui assure une détermination raisonnable desdits coûts.<br/>

      •	Toute œuvre publiée sur CHRONICKL est la propriété exclusive de la plateforme. L’auteur en publiant 
      donne à CHRONICKL SARL l’accord de gérer au mieux la gestion de son œuvre. Toutefois, en cas de 
      publications sur une autre plateforme, l’auteur doit le signaler à CHRONICKL SARL.<br/>

      •	En cas de publications sur une autre plateforme, CHRONICKL se désengage de toute fuite ou exploitations
       faites de l’œuvre. Ce désengagement ne sous-entend nullement le retrait des œuvres de l’auteur de la 
       Plateforme CHRONICKL. L’auteur continuera à publier ses œuvres et CHRONICKL continuera à lui reverser 
       les revenus issus de ses publications.<br/>

    </p>
    <p style="font-weight: bold;">
      Article 4 : Durée du contrat
    </p>
    <p>
      Le présent protocole d’accord est conclu pour une durée indéterminée. Il prend effet à compter du 
      moment où le chroniqueur publie sa première oeuvre sur la plateforme. 
    </p>
    <p>
      Toutefois, chaque Partie pourra y mettre un terme à tout moment, à condition de prévenir l’autre Partie 
      quinze (15) jours à l’avance, 
      par simple lettre remise par mail sur l’adresse fidele.ndzimenkoghet@chronickl.com.
    </p>
    <p style="font-weight: bold;">
      Article 5 : Engagements de Chronickl.
    </p>
    <p>
      Chronickl s’engage à : 
    </p>
    <p>
      -	Mettre à la disposition du chroniqueur une plateforme fluide et ergonomique disponible en tout temps. 
      <br/>
      -	Améliorer dans la mesure du possible la plateforme chronickl.
      <br/>
      -	La garantie à ses abonnées de la sécurité des différents payements effectués sur la plateforme pour 
      la lecture des différentes œuvres. 
      <br/>
      -	Mettre à la disposition du chroniqueur un accès permanent et en temps réel à l’historiques de toutes 
      les transactions de paiements effectuées sur ses œuvres. 
    </p>
    <p style="font-weight: bold;">
      Article 6 : Engagements du Chroniqueur
    </p>
    <p>
      Le chroniqueur s’engage à :
    </p>
    <p>
      -	Etre présent sur la plateforme Chronickl par ses oeuvres; <br/>
      -	D’aller au bout des œuvres payantes (car certains chroniliseurs ont la possibilité de payer <br/>
        pour toute une œuvre même si elle n’est pas totalement publiée) ;<br/>
      -	Cocher le paramètre « adulte » pour des œuvres pour adultes;<br/>
    </p>
    <p style="font-weight: bold;">
      Article 7 : Autonomie
    </p>
    <p>
      Le chroniqueur exécutera sa mission sur une base autonome et en toute liberté. Il ne sera guidé, 
      dans l’exécution du présent contrat, 
      que par des lignes directrices et les stratégies établies par Chronickl.
    </p>
    <p style="font-weight: bold;">
      Article 8 : Finances
    </p>
    <p>
      Les revenus générés sur les œuvres publiées sur chronickl sont repartis comme suit :
    </p>
    <p>
      -	Sera reversé au Chroniqueur 70% de tous les revenus générés par ses œuvres sur chronickl<br/>
      -	Chronickl SARL touchera quant à elle 30% des revenus.<br/>
      -	Les gains ne seront pas reversés au chroniqueur de façon instantané, mais celui-ci pourra en faire 
      la demande sur la plateforme à tout instant et recevra cet argent selon le moyen qu’il aura choisi dans 
      les 72H au plus.
    </p>
    <p style="font-weight: bold;">
      Article 9 : Bonne foi et loyauté
    </p>
    <p>
      Le chroniqueur agira en toute bonne foi et loyauté à l’égard de Chronickl et s’interdira tout acte ou 
      toute décision pouvant présenter un conflit d’intérêt avec Chronickl. Le chroniqueur ne prendra aucun 
      engagement au nom de 
      Chronickl sans avoir au préalable obtenu l’autorisation expresse de Chronickl.<br/>
      En cas de manquement aux obligations du présent article, le Contrat pourra être 
      résilié conformément aux stipulations de l’article 11 ci-dessous.
    </p>
    <p style="font-weight: bold;">
      Article 10 : Modification
    </p>
    <p>
      Toute modification du présent contrat devra faire l’objet d’une notification sur la plateforme 
      pour prévenir le chroniqueur.
    </p>
    <p style="font-weight: bold;">
      Article 11 : Résiliation
    </p>
    <p>
      En cas de manquement par l’une des parties aux obligations mises à sa charge, le présent accord pourra 
      être résilié par l’autre partie 
      après envoi d’une lettre de mise en demeure de quinze (15) jours n’ayant pas trouvé d’effet.
    </p>
    <p style="font-weight: bold;">
      Article 12 : Intégralité du contrat
    </p>
    <p>
      Le présent contrat y compris, le préambule et les annexes expriment l’intégralité des obligations des 
      Parties et prévaut sur tous 
      les engagements écrits ou verbaux préalables entre les Parties.
    </p>
    <p style="font-weight: bold;">
      Article 13 : Règlement des litiges
    </p>
    <p>
      En cas de litige relatif à l’interprétation ou à l’exécution du présent accord, les Parties conviennent 
      d’un arrangement à l’amiable. A défaut d’accord dans un délai de quinze (15) jours, la Partie lésée pourra 
      saisir le Tribunal de Première Instance de Libreville pour trancher le litige. 
      Le droit applicable sera le droit Gabonais.
    </p>
  </div>
</ion-content>
