<ion-header>
  <ion-toolbar>
    <ion-title class="arvo" style="font-size: 13px;">Conditions générales d'utilisation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: justify;" class="quickSans"> 
    <p style="font-size: 14px; font-weight:bold;">Préambule :</p>
    <p>
      L’Evolution du numérique a poussé plusieurs auteurs à diversifier l’approche de de vulgarisation et 
      commercialisation de leurs œuvres. Une approche qui concerne à la fois les auteurs confirmés que les 
      auteurs en herbes. Dans ce sens, CHRONICKL SARL, entreprise de droit gabonais, a conçue pour cet ensemble 
      de besoin la plateforme CHRONICKL, un support qui permet à tout passionné de la lecture et de l’écriture 
      de vivre sa passion, ceci dans le strict respect de la propriété intellectuelle. Les présentes Conditions 
      Générales d’Utilisation 
      encadrent les rapports qui lient la plateforme CHRONICKL et tous ses visiteurs.
    </p>
    <p style="font-size: 14px; font-weight:bold;">PARTIE I. CONDITIONS A L’ADRESSE DES LECTEURS ET ACHETEURS DES ŒUVRES PUBLIEES SUR CHRONICKL.</p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 1 :
    </p>
    <p>
      CHRONICKL est un site dédié à la publication et à la lecture des œuvres littéraires sans distinctions 
      aucunes. Elle offre la possibilité à tous de devenir auteur et de convaincre les lecteurs par la qualité 
      de son talent. Les lectures sont payantes ou non, toutefois chaque auteur devra 
      les deux premiers chapitres gratuits sur une œuvre qu’il décide de mettre en vente.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 2 :
    </p>
    <p>
      La lecture sur CHRONICKL est de nature personnelle et exclusivement réservée à nos abonnées, 
      donc ceux ayant ouverts un compte sur CHRONICKL. De ce fait, les œuvres ne peuvent être imprimées, 
      copiées et partager. De même toute capture écran des œuvres 
      et de leurs contenus est interdite et expose son auteur aux dites poursuites judiciaires.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 3 :
    </p>
    <p>
      CHRONICKL garantie à ses abonnées la sécurité des différents payements effectués sur la plateforme pour 
      la lecture des différentes œuvres. Le lecteur peut de ce fait souscrire à autant d’œuvres possibles. 
      Pour des questions de sécurité, 
      tous les paiements se font sur la plateforme par le canal des outils arrêtés par CHRONICKL.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 4 :
    </p>
    <p>
      Les prix de chaque œuvre ne sont pas standards, ils varient en fonction de l’auteur, 
      ceci en accord avec CHRONICKL qui assure une détermination raisonnable desdits coûts.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 5 :
    </p>
    <p>
      CHRONICKL n’est nullement responsable du contenu chaque œuvre et/ou commentaires sur chacune d’elle. 
      L’auteur seul est responsable du contenu de ses œuvres, 
      de même que le lecteur est responsable du contenu de ses commentaires sur les œuvres de l’auteur.
    </p>
    <p style="font-size: 14px; font-weight:bold;">PARTIE II. CONDITIONS A L’ADRESSE DES AUTEURS ET EDITEURS D’ŒUVRE SUR CHRONICKL
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 6 :
    </p>
    <p>
      Est considéré comme œuvre, une partie ou toute partie d’une histoire publiée, 
      des commentaires diffusés sur CHRONICKL.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 7 :
    </p>
    <p>
      Toute œuvre publiée sur CHRONICKL est la propriété exclusive de la plateforme. L’auteur en publiant donne 
      à CHRONICKL SARL l’accord de gérer au mieux la gestion de son œuvre. Toutefois, en cas de publications 
      sur une autre plateforme, l’auteur doit le signaler à CHRONICKL SARL.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 8 :
    </p>
    <p>
      En cas de publications sur une autre plateforme, CHRONICKL se désengage de toute fuite ou exploitations 
      faites de l’œuvre. Ce désengagement ne sous-entend nullement le retrait des œuvres de l’auteur de la 
      Plateforme CHRONICKL. L’auteur continuera
       à publier ses œuvres et CHRONICKL continuera à lui reverser les revenus issus de ses publications.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 9 :
    </p>
    <p>
      Les publications des œuvres sur CHRONICKL sont gratuites pour l’auteur. Afin de faire connaitre son œuvre, 
      CHRONICKL exige la mise en lecture gratuite des deux premiers chapitres au moins. L’auteur et CHRONICKL 
      s’accorderont sur le prix de lecture des chapitres payants. Sur chaque achat, trente pour cent (30%) des 
      revenus seront reversés 
      à CHRONICKL et les soixante-dix pour cent restants seront quant à eux reversés à l’auteur.
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      Article 10 :
    </p>
    <p>
      En créant son compte sur CHRONICKL, l’utilisateur accepte l’ensemble des conditions 
      d’utilisations générales rédigées dans les présents termes. 
    </p>
    <p style="font-size: 14px; font-weight:bold;">
      ADDENDAS
    </p>
    <p>
      Les commentaires sont « modérés ». C’est à dire qu’ils sont vérifiés puis validés s’ils ne contreviennent pas aux règles édictées plus haut, ils peuvent aussi être supprimés par l’auteur s’ils sont contraires à sa ligne à défaut de porter à l’auteur de ces commentaires. D’autre part, sont automatiquement considérés comme indésirables les commentaires publicitaires, les spams, les remarques sans rapport avec la publication ou un commentaire précédents et les liens que nous jugeons inappropriés. De même, sont rejetés les textes incompréhensibles, écrits dans une autre langue que le français, rédigés en « langage » SMS, phonétique ou en majuscules.
Les emails fournis lors de la rédaction du message sert aussi à abonner les lecteurs aux commentaires afin d’être avertis de l’arrivée d’autres épi textes. Il  reste invisible aux autres visiteurs et moteurs de recherche et nous garantissons l’anonymat à nos lecteurs. Ils ne font l’usage d’aucune exploitation postérieure, que ce soit pour diffuser de la publicité ou simplement constituer des fichiers. Ils sont effacés par l’utilisateur lors de l’annulation de leur abonnement et, le cas échéant, peuvent être détruit sur simple demande du lecteur par le formulaire de contact.

    </p>
  </div>
</ion-content>
