@font-face{

    font-family: 'ibm';
    src: url('../../../assets/fonts/IBMPlexSans-Regular.ttf');

    font-weight: normal;
    font-style: normal;
}

.ibm
{
    font-family: 'ibm'; 
}

  
@font-face{

    font-family: 'QuickSans';
    
    src: url('../../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    }
    
    .quickSans{
    
    font-family: 'QuickSans';
    
    }

    @font-face{
  
        font-family: 'bebas';
        src: url('../../../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
       
        font-style: normal;
        font-weight: normal;
      }
      
      .bebas{
      
        font-family: 'bebas';
      }
    