@font-face{

    font-family:'Arvo';
    src: url('../../../assets/fonts/Arvo/Arvo-Regular.ttf');
    font-style: normal;
    font-weight: normal;
  
  }
  
  .arvo
  {
    font-family:'Arvo';
  }
  
  @font-face{
  
    font-family: 'bebas';
    src: url('../../../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
   
    font-style: normal;
    font-weight: normal;
  }
  
  .bebas{
  
    font-family: 'bebas';
  }
  .cover{
      height: 100%;
      width: 80px;
      background: url("../../../assets/images/47243-min.jpg") center;
      background-size: cover;
      margin-right: 5px;
  }
.main_head{
    font-family: 'QuickSans';
    height: 100px;
    width: 100%;
    background-color: #fbfbfb;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
  .eye{

    position: absolute;
    right: 2px;
    top: 40%;
    z-index: 2;

}

  
@font-face{

    font-family: 'QuickSans';
    
    src: url('../../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    }
    
    .quickSans{
    
    font-family: 'QuickSans';
    
    }