image-cropper {
    max-height: 60vh;
}

@font-face{

    font-family: 'ibm';
    src: url('../../../assets/fonts/IBMPlexSans-Regular.ttf');

    font-weight: normal;
    font-style: normal;
}

.ibm
{
    font-family: 'ibm'; 
}
