
* {
  box-sizing: border-box;
}
.slick-slider {
  width: 90%;
  margin: auto;
  background: #000;
}


@font-face{

  font-family:'Arvo';
  src: url('../../../assets/fonts/Arvo/Arvo-Regular.ttf');
  font-style: normal;
  font-weight: normal;

}
.head{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;
}

.arvo
{
  font-family:'Arvo';
}

@font-face{

  font-family: 'bebas';
  src: url('../../../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
 
  font-style: normal;
  font-weight: normal;
}

.bebas{

  font-family: 'bebas';
}


@font-face{

  font-family: 'QuickSans';
  
  src: url('../../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
  
  font-weight: normal;
  
  font-style: normal;
  }
  
  .quickSans{
  
  font-family: 'QuickSans';
  
  }
  .separator{

    width: 1px;
    height: 40px;
    border: none;
    box-shadow: none;
    outline: none;
    background: #000;
    margin: 0 10px 0 10px;

  }

  .middle{
    display: flex;
    display: -webkit-flex;
    font-family: 'QuickSans';
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}



.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
.slide{
  --width: 70%;
}

.separatorr{

    width: 100%;
    height: 1px;
    background-color: var(--ion-color-primary);
    outline: none;
    border: none;
    box-shadow: none;
    margin: 20px 0 20px 0;

}


::ng-deep .colorr{

  --color: var(--ion-color-danger); 
  --font-weight: bolder;
  
}

::ng-deep .radius{

  --font-weight: bolder;
}

::ng-deep .color{
  
  font-family: 'quickSans'; 
  
  --border-top-left-radius: 10px;
  --border-top-right-radius: 10px;
  }
  
::ng-deep .colorrr{

  --color: var(--ion-color-secondary); 
}
