<ion-header>
  <ion-toolbar >
    <ion-title class="arvo">Connexion</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form style="background-color: #fafafa;" #f="ngForm" (ngSubmit)="onSubmitForm(f)">
    <ion-list>
      <ion-item>
        <ion-label class="quickSans" position="floating">
          Email
        </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="quickSans" position="floating">
          Mot de passe
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div style="margin: 15px;">
          <ion-button expand="block" shape="round" >Se connecter</ion-button>
      </div>
      <p class="quickSans" style="margin-top: 10px; text-decoration: underline; width: 100%; text-align: center;">
        Mot de passe oublié
      </p>
    </ion-list>

  </form>

  <div class="quickSans" style="position: absolute; bottom: 10px; left: 0; width: 100%; text-align: center;">
    <p style="color: #258b87 ; font-weight: bolder;">&copy; 2021 Chronickl SARL<p>
  </div>
</ion-content>
