@font-face{

    font-family:'Arvo';
    src: url('../../../assets/fonts/Arvo/Arvo-Regular.ttf');
    font-style: normal;
    font-weight: normal;
  
  }
  
  .arvo
  {
    font-family:'Arvo';
  }
  
  @font-face{
  
    font-family: 'bebas';
    src: url('../../../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
   
    font-style: normal;
    font-weight: normal;
  }
  
  .bebas{
  
    font-family: 'bebas';
  }

  @font-face{

    font-family: 'QuickSans';
    
    src: url('../../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
    
    font-weight: normal;
    
    font-style: normal;
    }
    
    .quickSans{
    
    font-family: 'QuickSans';
    
    }

    ckeditor {
        -webkit-user-select: text;
        user-select: text
    }

    #editor {
        -webkit-user-select: text;
        user-select: text
    }

    .img
{
    height: 70px;
    width: 50px;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    justify-content: center;
    border: 1px dotted gray;
}


.all
{
    background: #fbfbfb;
    width: 100%;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
    