<div style="overflow: auto;" class="main">

  <div class="bebas" style="color: white; font-size: 20px;">
    Welcome To Chronickl
  </div>


  <div class="quickSans" style="margin-top: 20px; width: 80%; text-align: center; color: white;">
    La plateforme en ligne des chroniqueurs
  </div>

  <div  style="margin-top: 20px; width: 60%; text-align: center;">
    <ion-button (click)="signUp()" [disabled]='clicked' class="quickSans" color='light' expand="block" >
      Créer un compte
    </ion-button>
  </div>
  <div class="flexo">
    <div style=" height: 50px; align-items: center; justify-content: center; text-align: center; display: flex; display: -webkit-flex;">
      <div>
        <hr class='separator'/>
      </div>
      <div class="quickSans" style="margin: 0 10px 0 10px; font-size: 13px; color: lightcyan;">
        OU 
      </div>
      <div>
        <hr class='separator'/>
      </div>
    </div>
  </div>
  <div class="quickSans" style=" width: 60%;">
    <ion-button [disabled]='clicked' (click)='signIn()' class="quickSans"  expand="block" >
      J'ai déjà un compte 
    </ion-button>
  </div>


  <div class="quickSans" style="position: absolute; bottom: 10px; text-align: center;">
    <p style="color: #258b87 ; font-weight: bolder; text-shadow: 1px 1px 5px black;">&copy; 2021 Chronickl SARL<p>
  </div>
</div>